
   #block1{
       background: #ffffff;
       height: auto;
       border-bottom: #cccccc;
       overflow: auto;
   }

   #name{
       background: #4aaaa5;
       color: #ffffff;
       margin-left: 200px;
       width: 240px;
       padding: 20px;
   }

   #button1, #button2, #button3{
       float: right;
       color: #cccccc;
       margin: 30px;
   }

   #block2{

    width:960;
    margin: auto;
   }

   #pic1 {
       height: 150px;
   }



